a:hover, a:visited, a:link, a:active
{
    color: inherit;
    text-decoration: none;
}

body {
    /* display */
    background: #f0f0f0;
    margin: 0;

    /* font */
    color: #242424;
    font-family: 'Averia Sans Libre', sans-serif;
    font-size: 1.25rem;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

footer {
    background: #242424;
    height: 160px;

    color: #f0f0f0
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2.25rem;
    text-align: center;
}

h3 {
    margin: 0;
    
    font-size: 1.75rem;
    text-align: center;
}
    
header {
    /* display */
    background: #5f92f1;
    display: flex;
    height: 500px;
    padding-left: 2rem; 
    padding-right: 2rem;
    
    /* font */
    color: #f0f0f0;
}

iframe {
    margin: auto;
    /* height: 764px;
    width: 720px; */
}

main {
    /* display */
    padding: 2rem;

    /* font */
    color: #242424;
}

nav {
    /* display */
    background: #5f92f1;
    display: block;
    padding: 1rem;

    /* font */
    color: #f0f0f0;
}

summary {
    margin: 1rem;
    text-align: center;
}

.button {
    background: #dddddd;
    margin: 0.1rem;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    transition-duration: 0.2s;
}

.button:hover {
    background: #bbbbbb;
}

.contacts {
    display: flex;
    justify-content: center;
    
    /* misc */
    list-style-type: none;
}

.contacts li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.copyright {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}

.credits {
    position: absolute;
    bottom: 0.5rem;
}

.footerContainer {
    position: relative;
    height: 128px;
    padding: 1rem;
}

.headerContainer {
    width: 100%;
}

.interestIcon {
    background: #242424;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    width: 125px;

    /* transformation */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -110%);
}

.interestIconImage {
    background: #dddddd;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    height: 115px;
    width: 115px;
    left: 5px;
    top: 5px;
}

.interestsList {
    /* display */
    padding: 0;
    
    /* misc */
    list-style-type: none;
}

.interestsList li {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.interestSubcontainer {
    flex: 1;
    margin: 0.1rem;
    margin-top: 10rem;
    min-width: 150px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}

.interestSubcontainer h2 {
    margin-block-start: 0%;
}

.interestVerticalDivider {
    background: #dddddd;
    margin-top: 13.4rem;
    width: 0.25rem;
}

.logo {
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 2rem;
}

.textNowrap {
    display: inline;
    white-space: nowrap;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    overflow: hidden;
}

#game {
    display: flex;
    justify-content: center;
}

#interestsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: -2rem;
    padding: 0;
}

#roleBox {
    /* display */
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
    /* font */
    font-size: 2rem;
    
    /* misc */
    list-style-type: none;
}

#roleBox li {
    /* display */
    background: #dddddd;
    flex-grow: 1;
    margin: 0.1rem;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    /* font */
    text-align: center;
}

@media screen and (max-width: 720px) {
    #interestsContainer {
        flex-direction: column;
    }

    .interestVerticalDivider {
        display: none;
    }

    .title {
        font-size: 3rem;
    }
}